<app-navbar></app-navbar>

<div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="image-round">
            <img
              src="assets/image/IMG_1.png"
              class="img-fluid"
              alt=""
              width="400"
              height="300"
            />
          </div>
        </div>
  
        <div class="col-md-7 text-header">
          <h3 class="text-white font-weight-normal mb-3">I'm</h3>
          <!-- <h1 class="display-3 text-uppercase text-primary mb-2" style="-webkit-text-stroke: 2px #ffffff;">Kumar Mayur</h1> -->
  
          <div class="box itan pt-3 pb-3">
            <h3><span>Kumar Mayur</span></h3>
          </div>
  
          <main class="text-change pt-3 pb-5">
            <section class="animation">
              <div class="first"><div>FrontEnd Developer</div></div>
              <div class="second"><div>Software Engineer</div></div>
              <div class="third"><div>Java Developer</div></div>
            </section>
          </main>
         
         <a href="assets/cv/Kumar_Mayur_CV.pdf">
          <button type="button" class="btn Download-cv">Download CV</button>
         </a>
  
  
        </div>
  
  
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="scroll-down">
            <div class="field">
          
              <div class="scroll"></div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- project section  -->

  <section id="project">
    <div class="container">
      <h1 class="pb-3" style="color: #0d6efd">Project</h1>
      <div class="row">
        <div class="col-md-3 d-flex align-items-stretch">
          <div class="card">
            <img
              src="assets/image/Project/voting.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Smart Voting</h5>
              <p class="card-text">
                The Smart Voting System with Blockchain is a secure, transparent,
                and efficient election solution.
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-3 d-flex align-items-stretch">
          <div class="card">
            <img
              src="assets/image/Project/rent.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Rent-a-Ride</h5>
              <p class="card-text">
                RentaRide is a free-to-use e-commerce website where consumers may
                hire an automobile for their daily requirements.
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-3 d-flex align-items-stretch">
          <div class="card">
            <img
              src="assets/image/Project/netfix.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Netflix clone</h5>
              <p class="card-text">
                A streaming service mirroring Netflix's features, with a varied
                content library and user-friendly interface.
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-3 d-flex align-items-stretch">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">More Project</h5>
              <hr />
              <a href="">
                <div class="row">
                  <div class="col-md-2 pt-3">
                    <img
                      src="assets/image/Icon/restaurant_66797.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="col-md-8">
                    <h4>Sage & Salt</h4>
                    <p>HTML CSS BootStrap Javascript</p>
                  </div>
                  <div class="col-md-2 pt-3">
                    <i class="fa-solid fa-greater-than"></i>
                  </div>
                </div>
              </a>
  
              <hr />
  
              <a href="">
                <div class="row">
                  <div class="col-md-2 pt-3">
                    <img
                      src="assets/image/Icon/contract_68483.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="col-md-8">
                    <h4>Online Test</h4>
                    <p>HTML CSS BootStrap Javascript</p>
                  </div>
                  <div class="col-md-2 pt-3">
                    <i class="fa-solid fa-greater-than"></i>
                  </div>
                </div>
              </a>
  
              <hr>
              <a routerLink="/project">
                <h6 class="text-center">Additional Work  <i class="fa-solid fa-greater-than"></i></h6>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 <!-- End project section  -->

  <!-- Skill  section  -->
  <section id="skill-section">
    
  </section>
   <!-- End Skill  section  -->
  
